<h1>Contestants for Bachelorette: <%= @bachelorette.name %></h1>
<br>
<% @contestants.each do |contestant| %>
  <ul>
    <%= "Contestant: #{contestant.name}" %>
  </ul>
  <ul>
    <%= contestant.age %>
  </ul>
  <ul>
    <%= contestant.hometown %>
  </ul>
  <br>
<% end %>
